.card {
  background: $card-color-dark;
  color: $text-light;
  width: 100%;
  margin: 1.5rem;
  padding: 1rem;
  border-radius: 10px;
  @include drop-shadow;

  .card-header {
    padding-top: 2rem;
    text-align: center;  
    text-decoration-color: $primary-color;
    font-size: 1.5rem;
    font-weight: bold;

    .card-header-title {
      border-bottom: 2px solid $primary-color;
    }
  }
  
  .card-body {
    padding: 2rem;
    line-height: 1.5rem;
  }

  .card-row {
    display: flex;
    margin-top: .5rem;
  }

  .card-info {
    width: 70%;
    margin-left: 1rem;
  }

  .card-label {
    text-align: right;
    width: 23%;
    font-weight: bold;
  }

  .card-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    
    a {
      color: $text-light;
    }
  }
}