#index-page {
  height: 100%;
  background:linear-gradient(135deg, #31349b 0%,#020230 100%);
  background-size: cover;
  background-attachment: fixed;

  #launch-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
    margin-left: auto;
    margin-right: auto;
    width: 600px;

    @media (max-width: 715px) {
      width: 100%;
    }
  }

  .launch-count-wrapper {
    margin: auto;
    color: $white;
    text-align: center;
  }
}

.main-header {
  text-align: center;
  padding: 3rem;
  color: $white;

  .main-title {
    font-size: 3rem;
    font-weight: 900;
    
  }
}
